/* HTML ELEMENTS SECTION */

body {
    font-family: "Montserrat";
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

h3 {
    font-weight: 700;
    font-size: 2rem;
}

p {
    color: #8f8f8f;
    font-weight: 500;
    font-size: 1.5rem;
}

.main-heading{
        font-size: 4.5rem;
        font-weight: 900;
        line-height: 1.5;
}

/* SECTIONS */

.colored-section{
    background-color: #eb7f37;
    color: #fff;
}

.white-section{
    background-color: #fff;
}

  /* NAVIGATION BAR */

    .navbar {
        padding: 0 0 4rem;
    }

    .navbar-brand {
        font-family: "Ubuntu";
        font-size: 2.5rem;
        font-weight: bold;
    }

    .nav-item {
        padding: 0 10px;
    }

    .nav-link {
        font-size: 1.2rem;
    }

    .blitz-group {
        width: 120%;
        margin-top: 2rem;
        padding-right: 60px;
        position: relative;
        right:10%;

}

/* DOWNLOAD BUTTONS */

.download-button {
    margin: 5% 3% 5% 0
}

/* TITLE SECTION */

#title .container-fluid{
    text-align: left;
    padding: 3% 15%;
}

/* FEATURES SECTION */

#features {
    padding: 7% 15%;
}

.features-title {
    padding: 5% 0 10% 0;
        font-size: 3rem;
        font-weight: 800;
        line-height: 1.5;
}

.icon {
    color: #eb9358;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #eb7f37;
}

/* TESTIMONIALS SECTION */

#testimonials {
    padding: 2% 15% 0 15%;

}

.testimonials-title {
    padding-bottom: 1%;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;

}

.testimonial-image-1 {
    width: 30%;
}

.testimonial-image-2 {
    width: 65%;
}

.testimonial-image-3 {
    width: 70%;
}

.testimonial-image-4 {
    width: 30%;
}

/* PRESS SECTION */

#press {
    padding-bottom: 3%;
}

.press-logo-1 {
    width: 15%;
    margin: 20px 20px 50px;
}

.press-logo-2 {
    width: 8%;
    margin: 20px 20px 50px;
}

.press-logo-3 {
    width: 10%;
    margin: 20px 20px 50px;
}

.press-logo-4 {
    width: 20%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing {
    padding: 7% 15%;
}

.pricing-title{
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}

.pricing-column {
    padding: 3% 2%;
}

.pricing-cost-title {
    color: #eb7f37;
    font-size: 3rem;
    font-weight: 800;
    line-height: 1.5;
}

@media (max-width: 1028px) {
    #title {
        text-align: center;
    }}

    /* CTA section  */

#cta{
    padding: 7% 15%;
} 

.cta-header{
    font-family: "Montserrat";
     font-size: 3rem;
     font-weight: 800;
     line-height: 1.5;
}

#footer{
    padding: 7% 15%;
}

.social-icon{
    margin: 20px 10px;
}

/* REGISTRATION PAGE REGISTRATION PAGE REGISTRATION PAGE REGISTRATION PAGE REGISTRATION PAGE REGISTRATION PAGE  */

/* REGISTRATION PAGE NAVBAR  */

  #registration .navbar {
      padding: 0 0 2rem;
  }

  #registration .container-fluid {
      text-align: left;
      padding: 1% 15%;
  }

  #registration-intro {
      padding: 2% 15%;
      height: auto;
  }

  .registration-title {
      padding: 5% 0 3% 0;
      font-size: 4.5rem;
      font-weight: 900;
      line-height: 1.5;
      color: #eb7f37;
  }

  /* REGISTRATION FORM  */

.form-container{
    padding: 30px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: #fff;
    height: auto;
}

.form-group{
    text-align: left;
}

.bg{
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),
        rgba(0, 0, 0, 0.6)),
    url('../images/wood-wallpaper.jpg');
    ;
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}

.signup-footer{
    color: #fff;
}